<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan your Travel</title>
    
</head>
<body>
    <header>
        <h1>Plan your Travel</h1>
    </header>
    <section id="input">
        <form action="getTravelInput">
            <input type="text" name="city" id="cityInput">
            <input type="date" name="date" id="dateInput">
            <input id="requestButton" type="submit" value="Request Travel Info">
        </form>
    </section>
    <section id="result" class="row">
        <img src="/src/client/media/pictures/old-1130731_640.jpg" alt="Picture of Travel" id="cityPic" class="featureImg">
        <div id="weatherInfo" class="col"> 
            <ul>
                <li id="lat">Latitude: </li>
                <li id="lng">Longitude: </li>
                <li id="country">Country: </li>
                <li id="city">City: </li>
                <li id="weather">Weather: </li>
            </ul>
        </div>
    </section>
    <footer>
        <div id="imageRef">
            <p>All images by:</p>
            <a href="https://pixabay.com/" target="_blank"><img src="/src/client/media/logos/pixabay.svg" alt="All Pictures by Pixabay" class="srcLogo"></a>
        </div>
        <div id="weaterRef">
            <p>Weatherdata by:</p>
        </div>
        <div id="locationRef">
            <p>Locationinfo by:</p>
        </div>
    </footer>
    
</body>
</html>