div, section, header, footer {
    border: thin red solid;
    padding: 10px;
}

.col {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.featureImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.srcLogo {
    height: 20px;
}