body {
}

div,
section,
header,
footer {
    padding: 10px;
}

#title {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin: 0 auto;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    border: 0px grey solid;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 2px 10px grey;
    display: flex;
    flex-direction: row;
    width: min-content;
    margin: 10 auto;
    height: min-content;
}

.carditem {
    margin: 10px;
    width: 300px;
}

.featureImg {
    width: 200px;
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
}

.logoBox {
    display: flex;
    flex-direction: row;
}

.hide {
    display: none;
}
/* body {
}

div, section, header, footer {
    border: thin lightgrey solid;
    padding: 10px;
    display: flex;
}

.hide {
    display: none;
}

p, h1, h2, h3,
h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}



.row {
    flex-direction: row;
    justify-content: left;
}

.featureImg {
    width: 200px;
    border-radius:5px;
    height: 200px;
    object-fit: cover;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .srcLogo {
    height: 20px;
    text-align: center;
    margin: 0 auto
  }
  
  .logoBox {
    display: flex;
    flex-direction: column;
  } */
