@media only screen and (max-width: 700px) {
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
  }

footer {
    display: flex;
    flex-direction: row;
    width: min-content;
    margin: 60 auto;
    .logoBox {
        display: flex;
        flex-direction: column;
        p {
            font-size: 0.5em;
        }
        .srcLogo {
            max-height: 25px;
            max-width: 150px;
            text-align: center;
            margin: 0 auto;
        }
    }
    #courseRef {
        width: 150px;
    }
}