footer {
    display: flex;
    width: min-content;
    margin: 60 auto;
    .logoBox {
        display: flex;
        flex-direction: column;
        p {
            font-size: 0.5em;
        }
        .srcLogo {
            max-height: 20px;
            max-width: 80px;
            text-align: center;
            margin: 0 auto;
        }
    }
}
